.form {
  display: flex;
  flex-direction: column;
  width: 471px;
  max-width: 100%;
}

.title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  color: #121417;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 16px;
  line-height: 1.37;
  color: rgba(18, 20, 23, 0.8);
  margin-bottom: 20px;
}

.teacher {
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin-bottom: 40px;
}

.teacherAvatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.teacherInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.teacherLabel {
  font-size: 12px;
  color: #8a8a89;
}

.teacherName {
  font-size: 16px;
  font-weight: 500;
  color: #121417;
}

.question {
  font-size: 24px;
  font-weight: 500;
  color: #121417;
  margin-bottom: 20px;
}

.radioGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #121417;
  cursor: pointer;
}

.radioLabel input {
    appearance: none;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid rgba(18, 20, 23, 0.2);
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
}

.radioLabel input:checked {
    border-color: #fbbd10;
}

.radioLabel input:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fbbd10;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.field {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 16px 18px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  color: #121417;
  outline: none;
}

.input::placeholder {
  color: #121417;
}

.input:focus {
  border-color: #fbbd10;
}

.error {
  margin-top: 4px;
  font-size: 13px;
  color: #e74c3c;
}

.submitBtn {
  padding: 16px 215px;
  background-color: #fbbd10;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  color: #121417;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submitBtn:hover {
  background-color: #f5b000;
}
